<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Connexion Admin</title>
    </head>
    <body>
        <h2>Connexion Admin</h2>
        <form method="post">
            {% csrf_token %}
            <label for="username">Identifiant :</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Se connecter">
        </form>
    </body>
</html>
